# OpenAI API Key
OPENAI_API_KEY="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"

# LangSmith (Optional - for tracing)
# LANGCHAIN_TRACING_V2=false
# LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
# LANGCHAIN_PROJECT=LangGraph RAG Project
# LANGCHAIN_API_KEY=your-langsmith-api-key-here

# Cohere (Optional - for reranking)
# COHERE_API_KEY=your-cohere-api-key-here
